

@font-face {
    font-family: 'Inconsolata';
    src: url('./Inconsolata-Regular.ttf')  format('truetype');
}


@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf')  format('truetype');
}


@font-face {
    font-family: 'RobotoBlack';
    src: url('./Roboto-Black.ttf')  format('truetype');
}


body {
    background: #202020;
    color: #C0C0C0;
    font-family: Inconsolata;
    overflow: hidden;
    width: 100vw;

    --toolbar-height: 24px;
}


body * {
    scrollbar-color: #aaa #202020;
    scrollbar-width: thin;
}


.CodeMirror, #terminal, #terminal * {
    color: unset;
    font-family: Inconsolata;
    background: transparent;
    line-height: 1.25em;
    font-size: 14px;
}


#terminal {
    width: 100vw !important;
}


.CodeMirror {
    width: 100vw;
    resize: none;
    outline: none;
    border: none;
    padding-top: var(--toolbar-height);
    height:unset;
}


.gutter {
    background: #000000;
    cursor: ns-resize;
}


#toolbar {
    line-height: var(--toolbar-height);
    height: var(--toolbar-height);
    font-family: RobotoBlack;
    font-size: 14px;
    padding: 0 10px;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    cursor: ew-resize;
    background: black;
    color: white;
    user-select: none;
    position: fixed;
    top: 0;
    z-index: 10;
    font-variant: small-caps;
}


#toolbar span.button {
    height: var(--toolbar-height);
    display: inline-block;
    font-family: Roboto;
    font-size: 12px;
    margin-left: 1.5em;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 4px;
    padding: 0 0.25em;
}


#toolbar span.button:hover {
    opacity: 1;
}


#toolbar span.button:active {
    opacity: 1;
    background: #F0A000;
    text-shadow: 0 -2px 0px black;
}


#time {
    position: fixed;
    bottom: 1.5em;
    right: 2em;
    font-size: 14px;
}

#text-background {
    position: fixed;
    bottom: 50vh;
    right: 50vw;
    z-index: -1;
    font-family: RobotoBlack;
    font-size: 60vw;
    line-height: 80%;
    text-align: center;
    transform-origin: center;
    transform: translate(50%, 50%) rotate(-45deg);
    color: #282828;
    font-variant: small-caps;
}

.CodeMirror-cursor {
    background: #C0C0C0;
    border: 1px solid #C0C0C0;
}

.CodeMirror-linenumber {
    color: #404040;
    padding-right: 1em;
}

.CodeMirror-lines span {
    padding-left: 0.25em;
}

.CodeMirror-gutters{
    background: transparent;
    border: none;
}

::selection *, .CodeMirror-selected pre span[role=presentation] {
    color: black !important;
    background: #808080;
}

.cm-s-blackboard div.CodeMirror-selected,
.cm-s-blackboard .CodeMirror-line::selection, .cm-s-blackboard .CodeMirror-line > span::selection, .cm-s-blackboard .CodeMirror-line > span > span::selection,
.cm-s-blackboard .CodeMirror-line::-moz-selection, .cm-s-blackboard .CodeMirror-line > span::-moz-selection, .cm-s-blackboard .CodeMirror-line > span > span::-moz-selection {
 
    background: #FFFFFF20;   
}

.cm-delimiter {
    color: #80C080;
}

.cm-operator {
    color: white;
}

.cm-insertion {
    color: #C0C0FF;
    background: rgba(56,139,253,0.1);
}

.cm-capture {
    color: #F0A000;
}