

@font-face {
    font-family: 'RobotoMono';
    src: url('./RobotoMono-Regular.ttf')  format('truetype');
}


@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf')  format('truetype');
}


@font-face {
    font-family: 'RobotoBlack';
    src: url('./Roboto-Black.ttf')  format('truetype');
}


body {
    background: #202020;
    color: #C0C0C0;
    font-family: RobotoMono;
    overflow: hidden;
    width: 100vw;

    --toolbar-height: 24px;
}


body * {
    scrollbar-color: #aaa #202020;
    scrollbar-width: thin;
}


::selection {
    color: black;
    background: #A0A0A0;
}


#editor, #terminal, #terminal * {
    color: #E0E0E0;
    font-family: RobotoMono;
    background: transparent;
    line-height: 1.5em;
}


#terminal {
    width: 100vw !important;
}


#editor {
    width: calc(100vw - 20px);
    resize: none;
    outline: none;
    border: none;
    font-size: 12px;
    padding: 10px;
    margin-top: var(--toolbar-height);
    position: relative;
}


.gutter {
    background: #000000;
    cursor: ns-resize;
}


#toolbar {
    line-height: var(--toolbar-height);
    height: var(--toolbar-height);
    font-family: RobotoBlack;
    font-size: 14px;
    padding: 0 10px;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    cursor: ew-resize;
    background: black;
    color: white;
    user-select: none;
    position: fixed;
    top: 0;
    z-index: 10;
}


#toolbar span.button {
    height: var(--toolbar-height);
    display: inline-block;
    font-family: Roboto;
    font-size: 12px;
    margin-left: 1.5em;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 4px;
    padding: 0 0.25em;
}


#toolbar span.button:hover {
    opacity: 1;
}


#toolbar span.button:active {
    opacity: 1;
    background: #F0A000;
    text-shadow: 0 -2px 0px black;
}


#time {
    position: fixed;
    bottom: 2em;
    right: 2em;
    font-size: 12px;
}

#text-background {
    position: fixed;
    bottom: -10vh;
    right: 0;
    z-index: -1;
    font-family: RobotoBlack;
    font-size: 50vh;
    text-align: center;
    transform-origin: center;
    transform: rotate(-90deg);
    color: #282828;
    font-variant: small-caps;
}